<!-- Picture: mobiledefenders -->
<div class="container text-center mb-5">
    <img src="/res/img/mobiledefenders.webp" alt="mobiledefenders" class="img-fluid">
</div>
<!-- Picture: mobiledefenders -->

<!-- Column lists -->
<div class="container-fluid mb-5" style="background-color: #eee">
    <div class="container text-center text-sm-left">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                    <div class="">
                        <div class="">
                            <h6 class="font-weight-bold pt-4 ml-3">Quick Links</h6>
                        </div>
                        <ul class="list-group" style="font-size: 12px">
                            <li class="list-group-item py-2" style="background-color: #eee; border: none">
                                <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> About Us</a>
                            </li>
                            <li class="list-group-item py-2" style="background-color: #eee; border: none">
                                <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Contact Us</a>
                            </li>
                            <li class="list-group-item py-2" style="background-color: #eee; border: none">
                                <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> FAQ</a>
                            </li>
                            <li class="list-group-item py-2" style="background-color: #eee; border: none">
                                <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Screen Lines</a>
                            </li>
                            <li class="list-group-item py-2" style="background-color: #eee; border: none">
                                <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Our Parteners</a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="">
                    <div class="block-title">
                        <h6 class="font-weight-bold pt-4 ml-3">My Account</h6>
                    </div>
                    <ul class="list-group" style="font-size: 12px">
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> My Account</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Orders History</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Return a Product</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Broken Screen Buyback</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Quick Shopping</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="">
                    <div class="block-title">
                        <h6 class="font-weight-bold pt-4 ml-3">TImes & Conditions</h6>
                    </div>
                    <ul class="list-group" style="font-size: 12px">
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Times & Conditions</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Privacy Policy</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Returns Policy</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Devices</a>
                        </li>
                        <li class="list-group-item py-2" style="background-color: #eee; border: none">
                            <a class="font-weight-normal"><i class="fa fa-caret-right text-danger"></i> Trademark Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 py-4">
                <div class="container-fluid">
                    <a><img src="/res/img/bottomImage/bi1.webp" alt="bottomimage" style="max-width: 50%;"></a>
                    <a><img src="/res/img/bottomImage/bi2.gif" alt="bottomimage" style="max-width: 50%;"></a>
                </div>
                <div>
                    <a><img src="/res/img/bottomImage/bi3.webp" alt="bottomimage"></a>
                    <a><img src="/res/img/bottomImage/bi4.webp" alt="bottomimage"></a>
                </div>
                <div>
                    <a><img src="/res/img/bottomImage/bi5.webp" alt="bottomimage"></a>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- Column lists -->

<!-- Bottom -->
<div class="container fixed-bottom">
    <div class="row">
        <div class="col-12 col-sm-1 text-center mx-4 mt-4 d-inline-block align-middle">
            <img src="/res/img/symbols/MD.webp" alt="mark" style="max-width: 75%">
        </div>
        <div class="col-12 col-sm-6 mt-4  d-inline-block">
            <p style="font-size: 10px">All trademarks are properties of their respective holders. Mobile Defenders LLC is a third party replacement part wholesaler and does not own or make claim to those trademarks used on this website in which it is not the holder.</p>
        </div>
        <div class="col-12 col-sm-3 d-inline-block align-middle text-center">
            <div class="mt-4 pt-2 align-middle">
                <h6 style="font-size: 10px" class="align-middle my-auto">
                        © 2018 Mobile Defenders. All Rights Reserved.
                </h6>
            </div>
        </div>
    </div>
</div>
<!-- Bottom -->