<div class="container-fluid" style="border-top: 3px solid red;">
  <!-- Scope1 -->
  <nav class="navbar navbar-expand-lg navbar-dark indigo row">
    <!-- Head Text -->
    <span class="navbar-text white-text col-6" style="font-size: 10px">
      <strong>HOW CAN WE HELP YOU GROW YOUR REPAIR BUSINESS TODAY?</strong>
    </span>
    <!-- Collapse Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScope1" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse Lists -->
    <div class="collapse navbar-collapse col-5" id="navbarScope1">
      <ul class="navbar-nav mr-auto" style="font-size: 10px">
        <li class="nav-item">
            <a class="nav-link" href="#">MY ACCOUNT<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">BROKEN SCREEN BUYBACK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SHIPPING INFORMATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "login" routerLinkActive = "active"><i class="fa fa-sign-in"></i> Login</a>
        </li>
      </ul>
      <div class="nav-item col-1">
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Scope2 -->
  <nav class="container navbar">
    <!-- picture -->
    <div class="image-fluid d-inline-block mx-2 w-20" style="max-width: 100%;">
      <a routerLink = "/" routerLinkActive = "active"><img src="/res/img/mark.webp" alt="Mark"></a>
    </div>
    <!-- Search -->
    <form class="form-inline md-form form-lg active-cyan-2 w-50 d-none d-sm-block">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
      <i class="fa fa-search" aria-hidden="true"></i>
    </form>
    <!-- Call -->
    <div class="align-right mx-1 d-none d-lg-block w-30" style="font-size: 12px;">
      <strong><i class="fa fa-phone"></i> (855) 422-4544  <a class="border border-top-0 border-bottom-0 border-right-0 border-success px-2" href="#">CONTACK US</a></strong>
      <span class="fa-stack fa-lg">
        <i class="fa fa-shopping-cart fa-3x fa-stack-2x text-danger" aria-hidden="true" aria-label="You have no items in your shopping cart."></i>
        <i class="fa fa-stack-1x">0</i>
      </span>
    </div>
  </nav>  
</div>

<!-- Scope3 -->
<div class="container mt-1 sticky-top">
    <nav class="navbar navbar-expand-lg row">
      <!-- Collapse Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScope3" aria-controls="navbarScope3"
        aria-expanded="false" aria-label="Toggle navigation">
        <strong><span class="text-success"><i class="fa fa-th-large text-danger" aria-hidden="true"></i> Various Mobile Types</span></strong>
      </button>
      <!-- Collapse Lists -->
      <div class="collapse navbar-collapse" id="navbarScope3">
        <!-- left -->
        <ul class="navbar-nav mr-auto font-weight-bold" style="font-size: 12px">
          <!-- DJI Button -->
          <li>
              <button class="btn btn-outline-default waves-effect px-3 mx-0" href="#">DJI SUPER SALE</button>
          </li>
          <!-- Apple Button Dropdown -->
          <div id="dropdownApple">
              <button class="btn btn-outline-primary waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">APPLE <i class="fa fa-sort" aria-hidden="true"></i></button>
              <div class="dropdown-menu px-4" style="width: 100%;">
                <div class="row">
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-4">
                    <img src="/res/img/deviceMark/apple.webp" alt="Dev1" style="max-width: 100%">
                  </div>
                </div>
              </div>
          </div>
          <!-- Sumsung Button Dropdown -->
          <div id="dropdownSumsung">
            <button class="btn btn-outline-secondary waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">SAMSUNG <i class="fa fa-sort" aria-hidden="true"></i></button>
            <div class="dropdown-menu px-4" style="width: 100%;">
              <div class="row">
                <div class="col-2">
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                </div>
                <div class="col-2">
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                </div>
                <div class="col-2">
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                </div>
                <div class="col-2">
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                  <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                  </a>
                </div>
                <div class="col-4">
                  <img src="/res/img/deviceMark/samsung.webp" alt="Dev1" style="max-width: 100%;">
                </div>
              </div>
            </div>
          </div>
          <!-- Motorola Button Dropdown -->
          <div id="dropdownMotorola">
              <button class="btn btn-outline-warning waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">MOTOROLA <i class="fa fa-sort" aria-hidden="true"></i></button>
              <div class="dropdown-menu px-4" style="width: 100%;">
                <div class="row">
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-4">
                    <img src="/res/img/deviceMark/motorola.webp" alt="Dev1" style="max-width: 100%;">
                  </div>
                </div>
              </div>
          </div>
          <!-- Lg Button Dropdown -->
          <div id="dropdownLg">
              <button class="btn btn-outline-danger waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">LG <i class="fa fa-sort" aria-hidden="true"></i></button>
              <div class="dropdown-menu px-4" style="width: 100%;">
                <div class="row">
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-4">
                    <img src="/res/img/deviceMark/lg.webp" alt="Dev1" style="max-width: 100%;">
                  </div>
                </div>
              </div>
          </div>
          <!-- Other Parts Button Dropdown -->
          <div id="dropdownOtherParts">
              <button class="btn btn-outline-success waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">OTHER PARTS <i class="fa fa-sort" aria-hidden="true"></i></button>
              <div class="dropdown-menu px-4" style="width: 100%;">
                <div class="row">
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-4">
                    <img src="/res/img/deviceMark/otherparts.webp" alt="Dev1" style="max-width: 100%;">
                  </div>
                </div>
              </div>
          </div>
          <!-- Accessories Button Dropdown -->
          <div id="dropdownAccessories">
              <button class="btn btn-outline-info waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">ACCESSORIES <i class="fa fa-sort" aria-hidden="true"></i></button>
              <div class="dropdown-menu px-4" style="width: 100%;">
                <div class="row">
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-2">
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                        <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                    <a href="#" class="dropdown-item">
                      <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                    </a>
                  </div>
                  <div class="col-4">
                    <img src="/res/img/deviceMark/accessories.webp" alt="Dev1" style="max-width: 100%;">
                  </div>
                </div>
              </div>
          </div>
        </ul>
        <!-- right -->
        <!-- Dropdown for Signin -->
        <div class="dropdown">
            <button class="btn btn-outline-success waves-effect px-3 mx-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">MY ACCOUNT <i class="fa fa-sort" aria-hidden="true"></i></button>
            <div id="dropdownAccount" class="dropdown-menu">
                <a href="#" class="dropdown-item">
                    <span><i class="fa fa-shopping-cart"></i>&nbsp;My Orders</span>
                </a>
                <a href="#" class="dropdown-item">
                    <span><i class="fa fa-reply"></i>&nbsp;Product Returns</span>
                </a>
                <a href="#" class="dropdown-item">
                    <span>&nbsp;<i class="fa fa-mobile"></i>&nbsp;Broken Screen Buyback</span>
                </a>
                <a href="#" class="dropdown-item">
                    <span>&nbsp;<i class="fa fa-usd"></i>&nbsp;My Store Credit</span>
                </a>
                <a href="#" class="dropdown-item">
                    <span><i class="fa fa-star-o"></i>&nbsp;Quick Shopping</span>
                </a>
            </div>
        </div>
        <!-- Dropdown for Signin -->
      </div>
    </nav>
</div>
