<div class="container my-5">
    <!-- Headline -->
    <p class="text-danger font-weight-normal mb-2 ml-1" style="margin-left: -15px; font-size: 22px">Login or Create an Account</p>
    <!-- In Card -->
    <div class="card" style="border: none; border-top: 5px solid red;">
        <div class="row">
            <div class="col-md-6">
                <p class="text-uppercase text-danger font-weight-normal ml-2 mt-5" style="font-size: 18px">
                    New Customers
                </p>
                <p class="mx-2" style="font-size: 14px">
                    By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
                </p>
                <button class="btn btn-danger mt-3">Create an Account</button>
            </div>
            <div class="col-md-6">
                <p class="text-uppercase text-danger font-weight-normal ml-2 mt-5" style="font-size: 18px">
                    Registered Customers
                </p>
                <p class="mx-2" style="font-size: 14px">
                    If you have an account with us, please log in.
                </p>
                <p class="mx-2 mt-3 mb-2" style="font-size: 18px">
                    Email Address <i class="fa fa-star fa-xs text-danger"></i>
                </p>
                <input type="email" style="width: 95%" class="ml-2">
                <p class="mx-2 mt-3 mb-2" style="font-size: 18px">
                    Password <i class="fa fa-star fa-xs text-danger"></i>
                </p>
                <input type="password" style="width: 95%" class="ml-2">
                <p class="text-right text-danger mr-4 mt-3" style="font-size: 12px">*required field</p>
                <p class="text-danger mr-4 mt-3 d-flex justify-content-between">
                    <span class="mr-auto"><button class="btn btn-danger mt-3 ml-4">Login</button></span>
                    <span class="ml-auto pt-4" style="font-size: 14px"><a>Forgot Your Password?</a></span>
                </p>
            </div>
        </div>
    </div>
</div>